name: Zip And Release
on: workflow_dispatch #Триггер, который будет вызывать workflow

jobs: #Начало секции джобов
  zip: #Название джоба
    runs-on: ubuntu-latest #Среда выполнения джоба
    
    steps: #Начало секции шагов
      - name: Checkout repository
        uses: actions/checkout@v2
        
      - name: Print hello #Название шага
        run: zip -r release.zip . #Команда, которая будет выполнена в терминале 
  
