name: Zip And Release
on: workflow_dispatch #Триггер, который будет вызывать workflow

jobs: #Начало секции джобов
  zip: #Название джоба
    permissions: write-all
    runs-on: ubuntu-latest #Среда выполнения джоба
    steps: #Начало секции шагов
        - name: Checkout repository
          uses: actions/checkout@v3
          
        - name: Create zip archive #Название шага
          run: zip -r release.zip . #Команда, которая будет выполнена в терминале 
          
        - name: Upload binaries to release
          uses: svenstaro/upload-release-action@v2
          with:
            repo_token: ${{ secrets.GITHUB_TOKEN }}
            file: release.zip
            asset_name: mything
            tag: ${{ github.ref }}
            overwrite: true
            body: "This is my release text"
